* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #2d3436;
}

.validator__title {
  color: #dfe6e9;
}

.validator__input {
  width: 50%;
  height: 2rem;
  padding: 4px;
  margin: 1rem 0;
  outline: none;

  border: none;
  border-radius: 7px;
  font-size: 18px;
}

.validator__button {
  width: 50%;
  height: 2rem;
  transition: .2s;

  background: #0984e3;
  color: #dfe6e9;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 700;
}

.validator__button:hover {
  background: #74b9ff;
}
